.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:root {
  --blue:#1d4289;
  --red: #d3273e;
  --green: #007a78;
  --white: white;
  --dark-grey: black;
}